.h1,h1
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.h2,h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-rounded{
    max-width: 140px;
}